
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Request List</h2>
		</div>
        <div class="col-6 text-end">
            <a class="btn btn-secondary mx-2" (click)="deniedRequests()">
                <i class="fa-solid fa-eye"></i> &nbsp; See Denied Requests
			</a>
            <a class="btn btn-primary" (click)="acceptedRequests()">
                <i class="fa-solid fa-eye"></i> &nbsp; See Accepted Requests
			</a>
		</div>
	</div>
    <br /><br />

<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Full Name
			</th>
            <th>
                Purpose
			</th>
            <th>
                Document Type
			</th>
            <th></th>
            <th></th>
		</tr>
	</thead>
    <tbody *ngFor="let request of requests">
            <tr *ngIf="request.status !== 'Accepted' && request.status !== 'Denied'">
                <td width="35%">
                    {{ request.firstName }} {{ request.lastName }}
				</td>
                <td width="30%">
                    {{ request.purpose }}
                </td>
                <td width="30%">
                    {{ request.document }}
                </td>
                <td width="30%">
                   <a class="btn btn-success" (click)="acceptRequest(request)"> <i class="fa-solid fa-circle-check"></i> Accept</a>
				</td>
                <td width="30%">
                    <a class="btn btn-danger" (click)="confirmRejectRequest(request)"> <i class="fa-solid fa-xmark"></i> Denied</a>
                </td>
			</tr>
    </tbody>

</table>
</div>