
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Status List</h2>
		</div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" (click)="createStatus()">
                <i class="fa-solid fa-circle-plus"></i> &nbsp; Create Status
			</a>
		</div>
	</div>
    <br /><br />

<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Status Name
			</th>
            <th></th>
            <th></th>
		</tr>
	</thead>
    <tbody *ngIf="!(loader._isLoading | async)">
            <tr *ngFor="let status of statuses">
                <td width="100%">
                    {{ status.name }}
				</td>
                <td width="30%">
                   <a class="btn btn-primary" (click)="editStatus(status)"> <i class="fa-solid fa-pen-to-square"></i> Edit</a>
				</td>
                <td width="30%">
                    <a class="btn btn-danger" (click)="confirmDelete(status.id)"> <i class="fa-solid fa-trash"></i> Delete</a>
                </td>
			</tr>
    </tbody>

</table>
</div>