<div class="container">
    <form [formGroup]="addAmountForm" (ngSubmit)="addAmount()">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Add Amount</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label for="Name">Amount</label>
                <input for="Name" class="form-control" id="number" type="text" formControlName="number" placeholder="Enter amount..." required/>
                <span for="Name" class="text-danger"></span>
            </div>
            <button type="submit" [disabled]="addAmountForm.invalid" class="btn btn-primary" style="width:150px">Add Amount</button>
            <a (click)="navigateToAmountList()" class="btn btn-secondary mx-1" style="width:150px">
                Back to List
            </a>
        </div>
    </form>
</div>