<div class="container">
    <form [formGroup]="addDirectorForm" (ngSubmit)="addDirector()">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Add Director</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label for="Name">Director Name</label>
                <input for="Name" class="form-control" id="name" type="text" formControlName="name" placeholder="Enter director name..." required/>
                <span for="Name" class="text-danger"></span>
            </div>
            <button type="submit" [disabled]="addDirectorForm.invalid" class="btn btn-primary" style="width:150px">Add Director</button>
            <a (click)="navigateToDirectorList()" class="btn btn-secondary mx-1" style="width:150px">
                Back to List
            </a>
        </div>
    </form>
</div>