<div class="container">
    <form [formGroup]="createRankForm" (ngSubmit)="createRank()">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Create Rank</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label for="Name">Rank Name</label>
                <input for="Name" class="form-control" id="name" type="text" formControlName="name" placeholder="Enter rank name..." required/>
                <span for="Name" class="text-danger"></span>
            </div>
            <button type="submit" [disabled]="createRankForm.invalid" class="btn btn-primary" style="width:150px">Create Rank</button>
            <a (click)="navigateToRankList()" class="btn btn-secondary mx-1" style="width:150px">
                Back to List
            </a>
        </div>
    </form>
</div>